extends ../layouts/base

block title
  title Article one

block content
  div.page
    // HEADER
    include ../sections/header2
    // SLIDER
    .slider-wrap
      .slider
        .slider__item(style="background-image: url('img/slider4.jpg');")
          .slider__item-info
            h3.slider__title Coconut oil for hair<br> shine
            p.slider__text Tame your flyaways, add shine and smooth your hair with this luxurious balm. Delicately scented with coconut, a little goes a long way.
        .slider__item(style="background-image: url('img/slider5.jpg');")
          .slider__item-info
            h3.slider__title 5 tips for starting a new<br> healthy life
            p.slider__text Here are some expert tips for getting started<br> and following through on your goals
        .slider__item(style="background-image: url('img/slider6.jpg');")
          .slider__item-info
            h3.slider__title Are You Busy?<br> Here's How To Stay Healthy
            p.slider__text "Your health is important, so don’t<br> let a busy schedule stop you from<br> caring for yourself."
    // MAIN
    main.main
      .container
        h2.main__title Popular Articles
        section.main__section.main__section--3
          .article__big.article__big--one
            img.article__big-img(src="img/article-one-3-1.jpg", alt="article")
            .article__big-info
              h3.article__big-title Water balance, importance of good hydration
              p Water is essential for life, and maintaining hydration is important for physical and mental performance. The human body is largely made of 
                | water. Body water content declines with age, from about 75% in babies to 60% in adults. Although we can live for up to 50 days without food, 
                | without water we will survive only a few days, even in a cool climate. People generally drink enough water, but for specific population groups, 
                | like the elderly, or while exercising, fluid intake might become critical.
            img.article__big-img(src="img/article-one-3-2.jpg", alt="article")
            .article__big-info
              h3.article__big-title Daily water losses
              p Water leaves our bodies through skin and in breath all the time, amounting to about 700ml each day. We lose another 100ml through faeces, 
                | about 1.5 litres as urine and 200ml in normal perspiration. So, even living and breathing in a temperate climate requires about 2.5 litres a day. 
                | Exercise and rises in temperature increases perspiration, loss of water and hence fluid requirements. During sickness and diarrhoea, losses of 
                | water will also increase considerably.
              p #[b The effects of dehydration.] Dehydration can cause headaches, tiredness and loss of concentration. It is a problem particularly associated with 
                | aging, as older adults are less sensitive to mild dehydration, they drink less and take longer to re-hydrate. A deterioration of mental performance 
                | can also occur in mildly dehydrated younger adults. Children lose more water in perspiration in trying to keep cool so it is important to make 
                | sure they drink enough in hot weather.<br>
                | #[b Drinking enough to maintain hydration.] We should drink enough to balance water losses. The metabolic processes in our bodies produce 
                | about 250ml, and we get another 750ml from our food. This leaves 1.5 litres to be supplied from drinks. All water-containing drinks can 
                | contribute to the total required for hydration including fruit juice, soft drinks, tea, coffee, dilute alcoholic drinks such as beer, as well as pure 
                | water itself. It has been shown that drink palatability is important when fluid requirement is high. Studies have also shown that caffeine in 
                | amounts typical of a cup of coffee or tea or a cola drink do not have a dehydrating effect, so experts now agree that normal caffeine 
                | containing drinks can contribute to total water requirements. However, drinks containing 10% alcohol or more, such as most wines, do 
                | result in net fluid losses.
              h3.article__big-title What happens when we exercise in hot climates?
              p During exercise our bodies keep cool by evaporating fluid from our skin as sweat, so we must drink more to avoid dehydration. In cold or 
                | temperate climates young people can often tolerate a 2% loss of body weight as water without impairment of physical performance, but in the 
                | heat this amount of fluid loss will compromise performance and can result in heat illness. Losses in excess of 5% of body weight can decrease 
                | the capacity for work by about 30%. A number of studies have demonstrated that maintaining hydration before and during endurance exercise 
                | is effective in improving performance in a variety of conditions.
              h3.article__big-title Salt stimulates water absorption and aids retention during and after exercise
              p Adding sodium (salt) to drinks stimulates carbohydrate absorption and this enhances water uptake. Replacing the salt lost in sweat helps to 
                | maintain blood volume. If large amounts of water alone are drunk during and after endurance exercise in the heat, dilution of body fluids may 
                | occur, leading to large losses of water in the urine. This means hydration will not be maintained and low sodium levels may cause heat cramps 
                | and exhaustion. To prevent this, drinks should contain sodium (as in sport drinks which contain amounts similar to those of human body fluids), 
                | or water should be drunk with food.
              h3.article__big-title Path to improved wellness
              p You should drink water every day. Most people have been told they should drink 6 to 8, 8-ounce glasses of water each day. That is a reasonable 
                | goal. However, different people need different amounts of water to stay hydrated. Most healthy people can stay well hydrated by drinking water 
                | and other fluids whenever they feel thirsty. For some people, fewer than 8 glasses may be enough. Other people may need more than 8 glasses 
                | each day. If you are concerned that you are not drinking enough water, check your urine. If your urine is usually colorless or light yellow, you are 
                | well hydrated. If your urine is a dark yellow or amber color, you may be dehydrated.
              p Water is best for staying hydrated. Other drinks and foods can help you stay hydrated. However, some may add extra calories from sugar to your 
                | diet. Fruit and vegetable juices, milk, and herbal teas add to the amount of water you get each day. Even caffeinated drinks (for example, coffee, 
                | tea, and soda) can contribute to your daily water intake. A moderate amount of caffeine (200 to 300 milligrams) is not harmful for most people. 
                | This is about the amount in 2 to 4, 8-ounce cups of coffee. However, it’s best to limit caffeinated drinks. Caffeine may cause some people to 
                | urinate more frequently, or feel anxious or jittery.
              p Water can also be found in fruits and vegetables (for example, watermelon, tomatoes, and lettuce), and in soup broths.
              p Sports drinks can be helpful if you are planning on exercising at higher than normal levels for more than an hour. It contains carbohydrates and 
                | electrolytes that can increase your energy. It helps your body absorb water. However, some sports drinks are high in calories from added sugar. 
                | They also may contain high levels of sodium (salt). Check the serving size on the label. One bottle usually contains more than one serving. Some 
                | sports drinks contain caffeine, too. Remember that a safe amount of caffeine to consume each day is between 200 and 300 mg (milligrams).
              p Energy drinks are not the same as sports drinks. Energy drinks usually contain large amounts of caffeine. Also, they contain ingredients that 
                | overstimulate you (guarana, ginseng, or taurine). These are things your body doesn’t need. Most of these drinks are also high in added sugar. 
                | According to doctors, children and teens should not have energy drinks.
              p If staying hydrated is difficult for you, here are some tips that can help:
              ul
                li - Keep a bottle of water with you during the day. To reduce your costs, carry a reusable water bottle and fill it with tap water.
                li - If you don’t like the taste of plain water, try adding a slice of lemon or lime to your drink.
                li - Drink water before, during, and after a workout.
                li - When you’re feeling hungry, drink water. Thirst is often confused with hunger. True hunger will not be satisfied by drinking water. Drinking water may also contribute to a healthy weight-loss plan. Some research suggests that drinking water can help you feel full.
                li - If you have trouble remembering to drink water, drink on a schedule. For example, drink water when you wake up, at breakfast, lunch, and dinner, and when you go to bed. Or, drink a small glass of water at the beginning of each hour.
                li - Drink water when you go to a restaurant. It will keep you hydrated, and it’s free.
              p Don’t wait until you notice symptoms of dehydration to take action. Actively prevent dehydration by drinking plenty of water. Some people are 
                | at higher risk of dehydration, including people who exercise at a high intensity (or in hot weather) for too long, have certain medical conditions 
                | (kidney stones, bladder infection), are sick (fever, vomiting, diarrhea), are pregnant or breastfeeding, are trying to lose weight, or are not able 
                | to get enough fluids during the day. Older adults are also at higher risk. As you get older, your brain may not be able to sense dehydration. It 
                | doesn’t send signals for thirst.
              p Water makes up more than half of your body weight. You lose water each day when you go to the bathroom, sweat, and even when you breathe. 
                | You lose water even faster when the weather is really hot, when you are physically active, or if you have a fever. Vomiting and diarrhea can also 
                | lead to rapid water loss. If you don’t replace the water you lose, you can become dehydrated.
            .article__big-arrows
              a.article__big-arrow(href="")
              a.article__big-arrow.article__big-arrow--right(href="")
          .sidebar.sidebar--article
            .article__small
              .article__small-img-wrap
                img.article__small-img(src="img/article-one-2-sidebar.jpg", alt="article")
              .article__small-info
                h3.article__small-title How to Measure Portion<br> Sizes with your Hands
                a(href="").btn.btn--arrow Read article
            .article__small
              .article__small-img-wrap
                img.article__small-img(src="img/article4.jpg", alt="article")
              .article__small-info
                h3.article__small-title A Quick Guide to Intuitive<br> Eating
                a(href="").btn.btn--arrow Read article
            .article__small
              .article__small-img-wrap
                img.article__small-img(src="img/article6.jpg", alt="article")
              .article__small-info
                h3.article__small-title How To Buy The Best<br> Yoga Pants
                a(href="").btn.btn--arrow Read article
            .article__small
              .article__small-img-wrap
                img.article__small-img(src="img/article7.jpg", alt="article")
              .article__small-info
                h3.article__small-title Tips For Clean Eating<br> On A Budget
                a(href="").btn.btn--arrow Read article
            .article__small
              .article__small-img-wrap
                img.article__small-img(src="img/article8.jpg", alt="article")
              .article__small-info
                h3.article__small-title How To Be More<br> Disciplined
                a(href="").btn.btn--arrow Read article
            .article__small
              .article__small-img-wrap
                img.article__small-img(src="img/article9.jpg", alt="article")
              .article__small-info
                h3.article__small-title 5 Wellness Trends You'll<br> See In 2019
                a(href="").btn.btn--arrow Read article
            .article__small
              .article__small-img-wrap
                img.article__small-img(src="img/article2.jpg", alt="article")
              .article__small-info
                h3.article__small-title Coconut Oil For Hair That<br> Shines
                a(href="").btn.btn--arrow Read article
            .article__small
              .article__small-img-wrap
                img.article__small-img(src="img/article3.jpg", alt="article")
              .article__small-info
                h3.article__small-title 5 Tips for Getting Into<br> a Healthy Lifestyle
                a(href="").btn.btn--arrow Read article
    // FOOTER
    include ../sections/footer