extends ../layouts/base

block title
  title Article one

block content
  div.page
    // HEADER
    include ../sections/header2
    // SLIDER
    .slider-wrap
      .slider
        .slider__item(style="background-image: url('img/slider4.jpg');")
          .slider__item-info
            h3.slider__title Coconut oil for hair<br> shine
            p.slider__text Tame your flyaways, add shine and smooth your hair with this luxurious balm. Delicately scented with coconut, a little goes a long way.
        .slider__item(style="background-image: url('img/slider5.jpg');")
          .slider__item-info
            h3.slider__title 5 tips for starting a new<br> healthy life
            p.slider__text Here are some expert tips for getting started<br> and following through on your goals
        .slider__item(style="background-image: url('img/slider6.jpg');")
          .slider__item-info
            h3.slider__title Are You Busy?<br> Here's How To Stay Healthy
            p.slider__text "Your health is important, so don’t<br> let a busy schedule stop you from<br> caring for yourself."
    // MAIN
    main.main
      .container
        h2.main__title Popular Articles
        section.main__section.main__section--3
          .article__big.article__big--one
            img.article__big-img(src="img/article-one-8-1.jpg", alt="article")
            .article__big-info
              h3.article__big-title Coconut Oil For Hair That Shines
              p Like a gawky guy who grew into a full-blown hunk, coconut oil is now the hot, sexy oil no one can shut up about. Gwyneth Paltrow swishes it in 
                | her mouth to whiten her teeth, Poppy Delevingne sleeps in it, and Kelly Osborne wants you all to tap some on your cheekbones for a natural 
                | highlight. Coconut oil does not actually moisturize - no oil does - but used strategically, it can soften, add shine, and help repair dry hair. 
                | Read on for nine ways to use coconut oil in your hair routine.
              h3.article__big-title 1. Use It As a Protective “Pre-Poo”
              p Here’s a trick that’s particularly helpful for folks with dry or curly hair: Avoiding the scalp, coat dry hair with a glob of coconut oil an hour or so 
                | before hitting the shower. The oil protects each strand from drying out while you shampoo. Rinse the oil from your hair after shampooing and 
                | apply a conditioner as normal. (Note that if you have thin hair, the oil might be too much for you.)
              h3.article__big-title 2. Make Your Conditioner Better Than It’s Ever Been
              p Coconut oil will make any conditioner even more conditioning. After saturating your hair with conditioner, add a layer of coconut oil on top. 
                | The oil is occlusive, so it will trap the the conditioner’s hydrating ingredients within your hair, allowing them to penetrate the shaft longer and 
                | more effectively. Wait at least 15 minutes or up to an hour before rinsing — the longer you wait, the softer your hair will be.
              h3.article__big-title 3. Just Leave It In
              p This is a handy fix for people with thick, dry hair. After you shampoo and conditioner, comb any moisturizing cream throughout your hair 
                | (DevaCurls’ Supercream and Oyin Handmade’s Hair Dew are really great). Then, take a quarter-size amount of coconut oil and layer it on top of 
                | the moisturizer. Dry your hair as you normally would. The oil will lock in the moisturizer and help your hair stay hydrated for longer.
              h3.article__big-title 4. Make Detangling Slightly Less Annoying
              p Knotty hair? Run coconut oil over the sections that need a little help. The oil provides a helpful “slip” that makes combing a less harrowing ordeal.
              h3.article__big-title 5. And Make Your Hair More Photogenic
              p Instead of sticking a bunch of shiny things in your hair, scoop a few dollops of coconut oil into a spray bottle and spritz your hair for a natural 
                | shine. If you’re working with oil that has solidified, put the bottle in a bowl of warm water for a few minutes so the oil can revert back to a liquid.
              h3.article__big-title 6. Wear It As a Swim Cap
              p The worst part about taking a dip? The havoc saltwater and chlorine wreck on your hair, of course. Before you head to the pool or beach, cover 
                | your hair with coconut oil. The oil acts as a barrier between your strands and the water, to a certain degree. Think of it as a natural swim cap 
                | (or a swim cap that doesn’t make you look like a dork).
              h3.article__big-title 7. Or a Humidity Cap
              p To tame flyaways and frizz, rub a pea-size amount of coconut oil between your fingers. Transfer the oil to the frizzy parts of your hair to calm 
                | rogue strands. A little goes a long way!
              h3.article__big-title 8. Photoshop Your Split Ends
              p Coconut oil won’t glue your split ends back together (nothing will, despite what some products claim), but it can hide frayed ends for a short 
                | while. Simply rub a small amount over your ends. The oil will add luster and temporarily smooth the tattered hair.
            img.article__big-img(src="img/article-one-8-2.jpg", alt="article")
            .article__big-info
              h3.article__big-title 9. And Evict Lice, Naturally
              p If you really hate the idea of using medicated lice treatments, coconut oil is a surprisingly effective alternative. A 2002 study looked at 940 
                | children who were administered a hair cocktail of coconut oil, anise oil, and ylang ylang oil. The mixture was applied to each child’s hair three 
                | times a day for five days. The coconut-oil combination was successful for 92.3 percent of the lice cases, faring slightly better than the medicated 
                | control group, which saw a success rate of 92.2 percent.
              h3.article__big-title But Don’t Use It for Hair Loss or Dandruff.
              p There are no credible, peer-reviewed studies that prove coconut oil can regrow hair. It’s a little boring, but your best bet is still Rogaine. As for 
                | dandruff, coconut oil might actually trigger more flakes! If used on your scalp, coconut oil clogs pores and prevents hair follicles from “breathing.” 
                | This dehydrates your scalp, and can make a case of dandruff more pronounced. The solution? Try a medicated shampoo. Anyway, if you don’t 
                | want to double-dip in the jar of coconut oil sitting in your kitchen, here are five coconut oil-infused hair products your hair will love just as much.
              h3.article__big-title Benefits of Coconut Oil for Hair
              p Coconut oil is rich in antioxidants and fatty acids, and it has antiviral, antifungal and antibacterial properties. This allows coconut oil to improve 
                | the appearance, texture and health of our hair. When used on hair, coconut oil is able to:
              ul
                li - improve hair dryness
                li - improve scalp health
                li - protect hair from protein loss
                li - protect hair from UV exposure
                li - fight infections and fungus
                li - support hair growth
                li - add volume and shine
              p Lush, shiny, manageable and healthy hair can be yours — with the benefits of coconut oil! Have you been tempted to clear out your commercial 
                | conditioners, serums and styling products that damage your hair (and possibly your health) over time? Well guess what? You can replace them 
                | with this all-natural solution. Coconut oil is rich in antimicrobial properties, lauric acid and medium-chain fatty acids that strengthen hair, 
                | condition the scalp and help hair to regrow. While we’ve been hearing about the internal health benefits of coconut oil for quite sometime, it’s 
                | time to bring light to coconut oil’s other uses, one of which is using it as an all-natural, multi-tasking hair care product. Rich in vitamins, minerals 
                | and other nutrients, the nourishing benefits coconut oil for hair keeps your hair strong, shiny and looking great!
            .article__big-arrows
              a.article__big-arrow(href="")
              a.article__big-arrow.article__big-arrow--right(href="")
          .sidebar.sidebar--article
            .article__small
              .article__small-img-wrap
                img.article__small-img(src="img/article-one-2-sidebar.jpg", alt="article")
              .article__small-info
                h3.article__small-title How to Measure Portion<br> Sizes with your Hands
                a(href="").btn.btn--arrow Read article
            .article__small
              .article__small-img-wrap
                img.article__small-img(src="img/article4.jpg", alt="article")
              .article__small-info
                h3.article__small-title A Quick Guide to Intuitive<br> Eating
                a(href="").btn.btn--arrow Read article
            .article__small
              .article__small-img-wrap
                img.article__small-img(src="img/article5.jpg", alt="article")
              .article__small-info
                h3.article__small-title Water balance, importance<br> of good hydration
                a(href="").btn.btn--arrow Read article
            .article__small
              .article__small-img-wrap
                img.article__small-img(src="img/article6.jpg", alt="article")
              .article__small-info
                h3.article__small-title How To Buy The Best<br> Yoga Pants
                a(href="").btn.btn--arrow Read article
            .article__small
              .article__small-img-wrap
                img.article__small-img(src="img/article-one-6-sidebar.jpg", alt="article")
              .article__small-info
                h3.article__small-title Tips For Clean Eating On<br> A Budget
                a(href="").btn.btn--arrow Read article
            .article__small
              .article__small-img-wrap
                img.article__small-img(src="img/article8.jpg", alt="article")
              .article__small-info
                h3.article__small-title How To Be More<br> Disciplined
                a(href="").btn.btn--arrow Read article
            .article__small
              .article__small-img-wrap
                img.article__small-img(src="img/article9.jpg", alt="article")
              .article__small-info
                h3.article__small-title 5 Wellness Trends You'll<br> See In 2019
                a(href="").btn.btn--arrow Read article
            .article__small
              .article__small-img-wrap
                img.article__small-img(src="img/article3.jpg", alt="article")
              .article__small-info
                h3.article__small-title 5 Tips for Getting Into<br> a Healthy Lifestyle
                a(href="").btn.btn--arrow Read article
    // FOOTER
    include ../sections/footer