extends ../layouts/base

block title
  title Login

block content
  div.page
    // HEADER
    include ../sections/header
    // LOGIN
    section.login
      .login__container.container
        .picture.picture--login
          .picture__img(style="background-image: url('img/picture-login.jpg');")
            .picture__bg
        .login__text-wrap
          h2.login__title Cheesy Pork Sausage Flatbreads
          p.login__text To see the full recipe please login and get access!
          a.login__link.btn(href="") Get access to premium
    // FOOTER
    include ../sections/footer