footer.footer
  .footer__container.container
    a.logo(href="")
      img(src="img/logo.svg", alt="logo")
    nav.footer__nav.nav
      a.nav__link(href="") RECIPES
      a.nav__link(href="") HEALTH & WELLNESS
      a.nav__link(href="") CONTACT US
  .footer__bottom
    .footer__bottom-container.container
      a.footer__bottom-link(href="") Privacy Policy
      a.footer__bottom-link(href="") Terms & Conditions
    