header.header.header--border
  .header__container.container
    a.logo(href="")
      img(src="img/logo.svg", alt="logo")
    nav.header__nav.nav
      a.nav__link(href="") RECIPES
      a.nav__link(href="") HEALTH & WELLNESS
    form.header__form
      input.header__input(type="text", placeholder="User")
      input.header__input(type="text", placeholder="Password")
      button.header__btn.btn(type="submit") Login